@media screen and (max-width:767px) {
    .header {
        width: 250px;
    }
    .left {
        width: 150px;
    }
    .right {
        width: 100px;
    }
    
    .footer {
        width: 250px;
    }
}

@media screen and (max-width:479px) {
    .header {
        width: 150px;
    }
    
    .right {
        float: none;
        width: 150px;
    }

    .left {
        float: none;
    }

    .footer {
        width: 150px;
    }